# Model monitoring workflow
resources:
  jobs:
    iris_model_monitoring:
      name: iris-model-monitoring-${bundle.target}
      tasks:
        - task_key: MonitorModel
          notebook_task:
            notebook_path: ../monitoring/notebooks/MonitorModel.py
            base_parameters:
              model_name: ${var.catalog_name}.${var.schema_name}.${var.model_name}
              monitoring_table: ${var.catalog_name}.${var.schema_name}.${var.feature_set_name}
              drift_threshold: "0.1"
          job_cluster_key: monitoring_cluster

      job_clusters:
        - job_cluster_key: monitoring_cluster
          new_cluster:
            num_workers: 0
            spark_version: 15.4.x-cpu-ml-scala2.12
            node_type_id: i3.xlarge
            spark_conf:
              spark.master: "local[*, 4]"
              spark.databricks.cluster.profile: singleNode
            custom_tags:
              ResourceClass: SingleNode

      schedule:
        quartz_cron_expression: "0 0 11 * * ?"  # Daily at 11 AM
        timezone_id: Africa/Johannesburg
        pause_status: PAUSED

      # If you want to turn on notifications for this job, please uncomment the below code,
      # and provide a list of emails to the on_failure argument.
      #
      #  email_notifications:
      #    on_failure:
      #      - first@company.com
      #      - second@company.com
